* {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.container {
    margin: 0px 50px;
}
.topbar {
    width: 100%;
    background-color: #131936;
    padding: 10px 0;
}
.topbar .element {
    display: flex;
    justify-content: space-between;
}
.topbar .element .logo {
    width: 80px;
    height: 20px;
    padding: 10px;
    background-color: #616161;
    color: #ACF854;
    text-transform: uppercase;
    border-radius: 20px 0px 20px 0px;
}
.topbar .element .profile {
    background-color: #FFFFFF;
    box-sizing: border-box;
    padding: 5px 10px;
    display: flex;
    border-radius: 30px;
}
.topbar .element .profile .text {
    text-transform: capitalize;
}
.topbar .element .profile .text h5 {
    text-transform: uppercase;
}
.topbar .element .profile .prof {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px #616161;
    margin-top: 20px;
    margin-left: -60px;
}
.topbar .element .profile .prof img {
    width: inherit;
    height: inherit;
    border-radius: 50%;
}

.all .responsive {
    display: flex;
    flex-wrap: nowrap;
}
.all .toggle  {
    display: none;
    position: absolute;
    float: right;
    right: 0;
    margin: 10px;
}
.all .toggle i {
    padding: 10px 20px;
    background: #616161;
    color: #ACF854;
    border-radius: 20px 0px 20px 0px;
}
.all .sidebar {
    background: #616161;
    width: 300px;
    padding: 10px 0px;
    margin-right: 15px;
}
.all .sidebar ul li {
    list-style: none;
    background-color: #FFFFFF;
    margin: 10px 5px;
    border-radius: 30px;
    padding: 5px 5px;
}
.all .sidebar ul a {
    text-decoration: none;
    color: #616161;
    font-weight: bold;
    text-transform: capitalize;
}
/* .active {
    background: red !important;
    border-left: 4px solid #000000;
} */
.all .content-side {
    width: 80%;
    margin: 0px 10px;
}
.all .content-side .content .heading {
    background: #EBEBEB;
    color: #616161;
    width: 300px;
    padding: 10px 0px;
    margin: 30px auto;
    align-items: center;
    text-align: center;
}
.all .content-side .content .heading h2 {
    text-transform: capitalize;
    place-items: center;
}
.all .content-side .content .items ul li {
    background-color: #131936;
    list-style: none;
    margin-bottom: 20px;
    padding: 10px;
}
.all .content-side .content .items ul li a {
    text-decoration: none;
    color: #FFFFFF;
    width: 100px;
    text-transform: capitalize;
}
.all .content-side .content .items ul li a:hover {
    text-decoration: underline;
}
.full-content {
    width: 100%;
    background: #EBEBEB;
    padding: 20px 0px;
    color: #616161;
}

.full-content .element {
    background: #FFFFFF;
    margin: 20px 0px;
    padding: 10px;
    overflow-x: scroll;
}
.full-content .element .heading h3 {
    text-transform: capitalize;
}
.full-content .element table, th, tr, td {
    border: 1px solid #616161;
    border-collapse: collapse;
    text-align: center;
    padding: 5px;
}
.full-content .element th {
    text-transform: uppercase;
}
.footer {
    background: #616161;
    color: #FFFFFF;
    padding: 30px;
}
.footer .element {
    display: flex;
    justify-content: space-around;
}
.footer .element .aspect {
    width: 250px;
    text-align: center;
    margin-right: 10px;
}
.footer .element .aspect h3 {
    text-transform: capitalize;
    margin-bottom: 20px;
}
.footer .element .aspect ul li {
    list-style: none;
    text-align: left;
    margin-bottom: 5px;
}
.footer .element .aspect ul li a {
    text-decoration: none;
    display: flex;
    color: #FFFFFF;
    text-transform: capitalize;
}
.footer .element .aspect ul li i {
    background: #131936;
    padding: 3px;
    margin-right: 5px;
    font-size: 13px;
}.copyright {
    background: #131936;
    padding: 5px 0px;
}
.copyright h4 {
    color: #FFFFFF;
    margin: auto;
    text-align: center;
}

/* for record page */

.content-side .content .items .selectt {
    background: #f5f5f5;
}
.content-side .content .items .selectt .me h4 {
    text-transform: capitalize;
}
.content-side .content .items .selectt .them ul {
    display: flex;
    justify-content: space-around;
}
.content-side .content .items .selectt .them ul li {
    width: 60px;
    background: #131936;
    display: flex;
    justify-content: space-around;
}
.full-content .element .heading {
    margin: 10px 0px;
    display: flex;
    justify-content: space-between;
}
.error_message {
    color: red;
    text-transform: capitalize;
}
.full-content .element .heading .tree {
    display: flex;
}
.full-content .element .heading .tree select {
    outline: 0;
    padding: 3px 0px;
    text-transform: capitalize;
}
.full-content .element .add span{
    background: #131936;
    padding: 5px 10px;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
    border-radius: 10px;
    text-transform: capitalize;
    cursor: pointer;
}

.full-content .element table .act {
    display: flex;
}
.full-content .element table a {
    padding: 5px;
    background: #131936;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 10px;
    text-transform: capitalize;
}
.full-content .element table .act .edit {
    background: blue;
}
.full-content .element table .act .delete {
    background: red;
}


/* for brand page */

.all .content-side .content .brands .brand ul a {
    width: 150px;
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;
    margin-right: 10px;
    margin-bottom: 10px;

}
.all .content-side .content .brands .brand ul a:hover {
    text-decoration: underline;
}
.all .content-side .content .brands .brand ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(13rem, 3fr));
    
}
.all .content-side .content .brands .brand ul li {
    list-style: none;
    background: #131936;
    width: 120px;
    padding: 5px;
    margin: 5px;
}
.full-content .element .add {
    display: flex;
    justify-content: space-between;
}
.full-content .element .add span {
    display: flex;
    width: 50px;
    align-items: right;
    float: right;
}
.full-content .element .come {
    background: #EBEBEB;
    padding: 5px 10px;
    border-radius: 10px;
    display: flex;
    margin-right: 5px;
}
.full-content .element .come input {
    margin-right: 5px;
    padding: 5px;
    border-radius: 10px;
    outline: 0;
    border: 1px;
}






/* change password */

.all .content-side .content .items {
    width: auto;
    padding: 10px;
    margin-bottom: 80px;
    position: relative;
}
.all .content-side .content .items .entry{
    margin-bottom: 10px;
    text-align: left;
    display: block;
}
.all .content-side .content .items .add a {
    text-decoration: none;
    background: #131936;
    color: #FFFFFF;
    text-transform: capitalize;
    padding: 5px;
}
.all .content-side .content .items .entry .picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-sizing: content-box;
    border: 1px solid black;
    box-shadow: 2px 3px 3px #000000;
    margin: 0px auto;
}
.all .content-side .content .items .entry .picture img {
    width: inherit;
    height: inherit;
    border-radius: 50%;
}
.all .content-side .content .items .entry label {
    text-transform: capitalize;
    color: #616161;
    margin-right: 30px;
}
.all .content-side .content .items .entry input {
    outline: none;
    padding: 5px;
    width: 250px;
    border-radius: 10px;
    border: 1px solid #ACF854;
}
.all .content-side .content .items .entry span {
    position: absolute;
    margin-left: -25px;
    margin-top: 5px;
    color: #616161;
}
.all .content-side .content .items .entry span #hide {
    display: none;
}
.all .content-side .content .items button {
    width: 150px;
    padding: 10px 10px;
    text-transform: capitalize;
    border-radius: 10px;
    background: #131936;
    color: white;
    border: none;
} 

.all .content-side .content .admin-new {
    display: none !important;
    position: absolute;
    top: 200px;
}

.admin-new.active {
    display: block;
}

/* for feedback */

.all .content .feedback {
    overflow-x: scroll;
}
.all .content table, th, tr, td {
    border: 1px solid #616161;
    border-collapse: collapse;
    text-align: center;
    padding: 5px;
}
.all .content th {
    text-transform: uppercase;
}
.all .content table a {
    padding: 5px;
    background: red;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 10px;
    text-transform: capitalize;
}
table img {
    width: 100px;
    height: 50px;
}




/* for ui-setting */
.all .content-side .content .list {
    margin-bottom: 20px;
}
.all .content-side .content .list ul {
    display: flex;
    flex-wrap: nowrap;

}
.all .content-side .content .list ul li {
    list-style: none;
    margin-right: 10px;
}
.all .content-side .content .list ul li a {
    background: #f5f5f5;
    color: #131936;
    text-decoration: none;
    display: flex;
    flex-wrap: nowrap;
    text-transform: capitalize;
    padding: 5px;
    border: 1px solid #131936;
}
.all .content-side .content table .picture {
    width: 50px;
    box-sizing: border-box;
}
.all .content-side .content table .picture img {
    width: inherit;
    height: 50px;
    border-radius: 50%;
}
.all .content-side .content table textarea {
    outline: 0;
    height: 50px;
}
.all .content-side .content table input {
    outline: 0;
    
}
.all .content-side .content .ui-element {
    width: 100%;
    height: 390px;
    background: #ACF854;
    margin-bottom: 20px;
    overflow: hidden;
}












/* for pop-up box */
.pop {
    background: #131936;
    width: 320px;
    padding: 10px;
    position: absolute;
    margin: auto;
    top: 200px;
    display: none;
    transition: 0.2s ease-in;
}
.pop .element {
    margin: auto;
}
.pop .element .title {
    margin: auto;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-bottom: 20px;
    text-align: center;
}
.pop .element .poptoggle {
    color: #ACF854;
    font-size: 30px;
    position: absolute;
    margin-left: 300px;
    margin-top: -40px;
}
.pop>div:target{
    display: block;
    z-index: 4;
}
.pop.active {
    background: #131936;
    width: 320px;
    padding: 10px;
    position: fixed;
    display: block;
    transform: translate(50%, -15%);
}
#cancel.return {
    width: 0px;
}
.pop .element .each {
    margin-bottom: 20px;
}
.pop .element .each label {
    text-transform: capitalize;
    color: #FFFFFF;
    margin-right: 20px;
} 
.pop .element .each input {
    border-radius: 10px;
    padding: 5px;
    border: none;
    outline: none;
    float: right;
}
.pop .element .each select {
    outline: none;
    float: right;
    width: 160px;
    padding: 5px;
    border-radius: 10px;
}
.pop .element .each #img {
    width: 150px;
    background: #616161;
}
.pop .element .image {
    width: 100px;
    width: 100px;
    border-radius: 50%;
    text-align: center;
    margin: 10px auto;
    
}
.pop .element .image img {
    width: inherit;
    height: inherit;
    border-radius: 40%;
}
.pop .element button {
    background: #FFFFFF;
    color: #131936;
    padding: 10px 50px;
    font-weight: bold;
    font-size: large;
    border-radius: 10px;
    border: none;
    text-align: center;
    margin: auto;
    display: flex;
}










@media screen and (max-width: 800px) {
   
    
.all .toggle {
    display: block;
}
.all .sidebar {
    position: absolute;
    width: 100%;
    z-index: 10;
    display: none;
    margin-top: 50px;
}
.all .sidebar.appear {
    display: block;
}
.all .content-side {
    width: 95%;
}

/* for pop-up responsiveness */
.pop.active {
    transform: translate(20%, 0%);
}
.full-content .container {
    margin: 0px 10px;
}
.full-content .element .add {
    display: block;
}

    
}





@media screen and (max-width: 500px) {
 
    /* .all .content-side .content .list ul {
        display: block;
    } */
    /* .all .content-side .content .list ul li a {
        list-style: none;
        margin-right: 10px;
        display: block;
    } */

    }